@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --headerHeight: 100px;
  --footerHeight: 100px;
  --containerWidth: 80vw;
}

body {
  margin:0;
  padding: 0;
}

.logo {
  position: absolute;
  height:50px;
  top:10px;
  right:10px;
  
}

.Header {
  background-color: #00A499;
  height: var(--headerHeight);
  padding: 10px;
}

.topTekst {
  font-family: Montserrat;
  color: white;
}

.footer {
  width: 100vw;
  height: var(--footerHeight);
  position: absolute;
  bottom: 0px;
  background-color: #00a39c;
}

.button {
  background-color: #00a39c;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-family: Montserrat;
  color: white;
  font-size: 20px;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #008881;
}

.button:active {
  background-color: #006d67;
}

.results {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

table {
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  width: 100vw;
}

.container {
  width: var(--containerWidth);
}

.sideBar {
  width: calc(100vw - var(--containerWidth));
  background-color: #eeeeee;
}