@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin:0;
  padding: 0;
}

.logo {
  position: absolute;
  height:50px;
  top:10px;
  right:10px;
  
}

.Header {
  background-color: #00A499;
  height: 100px;
  padding: 10px;
}

.topTekst {
  font-family: Montserrat;
  color: white;
}

.displayWinner {
  font-family: Montserrat;
  position: absolute;
  right: 945px;
}